.wrapper{
    display: flex;
    justify-content:space-between;
    padding: 90px 0;
}
.jumbo{
    width: 50%;
    h3{
        color: $text_color;
        font-family: $font;
        font-size:45px;
        font-weight: 600;
        line-height: 68px;
        margin: 0;
    }
    p{
        color: $text_color;
        font-family: $font;
        line-height: 26px;
        font-size: 20px;
        font-weight: 400;
    }
    .btn-log{
        background-color: $btn_color;
        display: inline-block;
        color: $white;
        font-weight: 400;
        margin-top:20px;
        img{
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    small{
        color:$grey;
        font-family: $font;
        font-weight: 500;
        padding:10px;
    }
    a{
        color:$black;
        text-decoration: none;
        font-family: $font;
        display:block;
        font-size: 13px;
        padding-top: 19px;
        &:hover{
            color:$color_hover;
        }
        .fa-arrow-right{
            font-size: 10px;
            vertical-align: middle;
            margin-left: 5px;
            &:hover{
                color:$color_hover;
            }
        }
    }
}
.jumbo-img{
    width: 50%;
    img{
        max-width: 95%;
        margin-left: 5%;
    }
}.how-work{
    background-color: $orange;
    text-align: center;
    .container{
        h3{
            color: $text_color;
            font-size: $font_nav_size;
            padding: 65px 0;
            font-weight: 500;
        }
        .bunny-img{
            border-bottom: 1px solid $grey;
        }
    }
}
.section{
    @include flex(row, space-around, center);
}
.col{
    max-width: 40%;
    img{
        padding: 10px;
        max-width: 30%;
    }
    p{
        padding: 10px;
    }
}
.bunny{
    max-width: 25%;
    padding: 70px;
}
