$font:'Montserrat', sans-serif;
$font_weight_logo:600;
$font_weight_title:500;
$font_weight_p:400;
$font_nav_size: 23px;
$font_a_size:13px;
$btn_color:#30488f;
$color_hover:#6487eb;
$black:black;
$white:white;
$grey:#bdb5af;
$orange:#ffe7d2;
$text_color:#58402c;
$ten:10px;
$none:none;
